html {
  height: 100%;
}

body {
  background-color: #D6E6F2;
  font-family: "Open Sans";
  height: 100%;
}

.flex-div {
  height: 100%;
  display: flex;
  padding: 15px;
  align-items: center;
}

.start-page {
  height: 100%;
}

.app-name {
  margin-top: 80px;
}

.logo-first {
  font-family: "Oleo Script";
  font-size: 6rem;
  color: #FFF3EC;
  text-shadow: 1px 1px #222;
}

.logo-second {
  font-family: "Oleo Script";
  font-size: 6rem;
  color: #C70039;
  text-shadow: 1px 1px #222;
}

.tagline {
    font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 900;
    line-height: 4rem;

    color:#769fcd;
    padding: 20px;
  margin-top: -15px;
}

.start-buttons {
    padding-left: 20px;
  margin-top: 30px;
}

.login-box {
  text-align: center;
  width: 100%;
  max-width: 440px;
  padding: 50px;
  margin: auto;
    margin-top:70px;
  background-color: #fff;
}

.remember-me {
  text-align: left;
}

.article-content {
    white-space: pre-line;
    line-height: 18pt;
    font-size: 1.2rem;
}

.card {
    margin: 10px;
}

.plan-table-header {
    position: relative;
}

.fav-button{
    position: absolute;
    right: 30px;
    bottom: 20px;
    color: black;
}

/* NavBar */

.navbar-brand{
    color: #0a3058;
}

.custom-check {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .check-mark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .check-mark {
    background-color: #769fcd;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .check-mark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-check .check-mark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#submit{
  all: unset;
}
.submit-button {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:22px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:9px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.submit-button:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.submit-button:active {
	position:relative;
	top:1px;
}

.checkboxes{
    padding: 10px 100px ;
    font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0px;
}

.plan-generated{
    width: 100%;
    margin:auto;
    font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;

}

.plan-generated td{
    width: 100%;
    padding: 10px 20px;

}

.plan-generated th{
    width: 100%;
    background-color: #769fcd;
    color:white;
    padding: 10px 20px;
}

.navbar-brand{
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 2px;

}
.nav-item{
    font-size:1.5rem;

}
.navbar{
    font-family: 'Cormorant Garamond', serif;
    padding: 20px 60px 0;
}

.select-plan {
    padding: 0 100px;
}
#home{
    position: relative;
    padding: 2% 5%
}

.inner-box{
    background-color:  #769fcd;
    padding: 220px 0;
}
.feature-box{
    padding: 3%;
    text-align: center;
    color: white;
    font-family: Helvetica;
}

.icon{
    margin-bottom: 20px;
}

/* View_plan.html*/
.plan-info {
    margin: 30px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.plan-head{
    background-color: #769fcd;
    padding: 15px 20px;
    margin-bottom: 30px;
}
.plan-name{
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.plan-name:hover{
    color:#D6E6F2;
}
.plan-other-parts {
    padding: 15px;
}

.plan-sec{
    font-weight: bold;
    font-size: 2.5rem;
}
.back-button{
    margin: 30px;
}
.fav-head{
    font-size: 4rem;
    color: #769fcd;
    margin: auto;
    font-weight:bold;

}
.star-icon{
    color: gold;
}


.plan-head-name{
    position: relative;
}

.remove-fav-button{
    position: absolute;
     right: 30px;
    bottom: 5%;
    color: white;
}

.start-image{

    transform: rotate(-15deg);
}


