html {
  height: 100%;
}

body {
  
}


.login-page {
  background-color: #85C1E9;
  height: 100%;
  display: flex;
  align-items: center;
}

.login-box {
  text-align: center;
  width: 100%;
  max-width: 440px;
  padding: 30px;
  margin: auto;
  background-color: #fff;
}

.remember-me {
  text-align: left;
}