{% extends "base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand" href="{{ url_for('home') }}">FindancialAid</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="flex-div">
        <div class="login-box">
            <div>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <h3>Log In</h3>
                    <div class="mt-4 form-group">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email address") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg", placeholder="Email address") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                        {% endif %}
                    </div>
                    <div class="mt-4 row">
                        <div class="col-sm-6 mt-2 remember-me">
                            {{ form.remember() }}
                            {{ form.remember.label() }}
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-lg btn-block btn-primary">Login</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="my-4">
            <div>
                <h5>Need an account?</h5>
                <a href="{{ url_for('register') }}" class="mt-4 btn btn-lg btn-block btn-outline-dark">Sign Up Here</a>
            </div>
        </div>
    </div>
{% endblock %}
