{% extends "base.html" %}
{% block content %}
    <body class="login-page">
        <div class="login-box">
            <div>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <h3>Sign Up</h3>
                    <div class="mt-4 form-group">
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid", placeholder="Username") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid", placeholder="Email address") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg", placeholder="Email address") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder="Confirm Password") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
                        {% endif %}
                    </div>
                    <div class="mt-4">
                        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}