{% extends "base.html" %}
{% block content %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="app-name">
                        <h1 class="logo-first">Findancial<span class="logo-second"> Aid</span></h1>
                        <p class="tagline">An easy way to find financial aid plans for you and your loved ones.</p>
                    </div>
                    <div class="start-buttons">
                        <a href="{{ url_for('login') }}" class="btn btn-large btn-primary">Log In</a>
                        <a href="{{ url_for('register') }}" class="btn btn-large btn-dark">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}