{% extends "base.html" %}
{% block content %}

 <nav class="navbar navbar-expand-lg navbar-light">

        <a class="navbar-brand" href="{{ url_for('home') }}">FindancialAid</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
<div class="container">
    <hr>
    <div class="card plan-info">
     <div class="card-body">


              <div class="plan-head">
                <a href="{{ plan.website }}" class="plan-name">{{ plan.name }}</a>
              </div>
              <div class="plan-other-parts">
                  <p class="plan-sec">Requirements</p>
                  <p class="article-content">{{ plan.req_full }}</p>
              </div>
              <div class="plan-other-parts">
                  <p class="plan-sec">Benefits</p>
                  <p class="article-content">{{ plan.benefits_full }}</p>
              </div>
              <div class="plan-other-parts">
                  <p class="plan-sec">How to Apply</p>
                  <p class="article-content">{{ plan.application }}</p>
              </div>

    </div>
 </div>
</div>



    <script>
        function back() {
            window.history.back();
        }
    </script>

    <button class="btn btn-light back-button " onclick="back()">
            <i class="fas fa-long-arrow-alt-left "></i>
            <span class="back-btn-words">View other plans</span>
    </button>

{% endblock %}
